
# Data - user downloads manually
# Docker volumes
# Environment
# IDE
# MLflow artifacts
# Models (tracked by MLflow, not git)
# OS
# Python
# Test / Coverage
# Virtual environments
*$py.class
*.DS_Store
*.egg
*.egg-info/
*.joblib
*.pkl
*.py[cod]
*.swo
*.swp
*.xgb
*~
.DS_Store
.coverage
.eggs/
.env
.idea/
.pytest_cache/
.venv/
.vscode/
Macintosh HD
Thumbs.db
__pycache__/
build/
data/*.csv
data/*.zip
dist/
env/
grafana_data/
htmlcov/
mlartifacts/
mlflow_data/
mlruns/
postgres_data/
redpanda_data/
venv/
